<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Aula03 - Exercícios</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="exercicio01">Exercício 01</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="exercicio02">Exercício 02</a>
          </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="exercicio03">Exercício 03</a>
          </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="exercicio04">Exercício 04</a>
          </li>
      </ul>
    </div>
  </nav>